/*==============================*/
/*========== SIDE MENU =========*/
/*==============================*/
#central-wrapper {
    text-align: center;
}

#username {
	font-style: oblique;
	font-weight: lighter;
	/*color: white;*/
}

.circular {
	width: 100px;
	height: 100px;
    border: 4px solid white;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

#logout {
	text-align: center;
	float: none;
}

.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
}
