/*==============================*/
/*========== SIDE MENU =========*/
/*==============================*/

#username {
	font-style: oblique;
	font-weight: lighter;
	/*color: white;*/
}

#logout {
	text-align: center;
	float: none;
}

.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
}
