/*==============================*/
/*========== SIDE MENU =========*/
/*==============================*/

#username {
	font-style: oblique;
	font-weight: lighter;
	/*color: white;*/
}

#logout {
	text-align: center;
	float: none;
}

.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
}


/*Favorite Icon Clicked and not Clicked*/
.fa-star-o {
  color: yellow;
}
.fa-star {
  color: yellow;
}

.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}
